<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.header.description %}
    <meta name="description" content="{{ page.header.description|e('html') }}">
    {% else %}
    <meta name="description" content="{{ site.metadata.description|e('html') }}">
    {% endif %}

    {% if page.header.keywords %}
    <meta name="keywords" content="{{ page.header.keywords|e('html') }}">
    {% else %}
    <meta name="keywords" content="{{ site.metadata.keywords|e('html') }}">
    {% endif %}

    {% if page.header.robots %}
    <meta name="robots" content="{{ page.header.robots }}">
    {% endif %}

    <title>{% if (page.header.title) and (page.home() == false) %}{{ page.header.title }} | {% endif %}{{ site.title }}</title>

    {% block stylesheets %}
        {% do assets.add('theme://css-compiled/main.css') %}

        {{ assets.css() }}
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15251055-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics_id }}');
    </script>
  </head>
  <body>
    {% include 'partials/header.html.twig' %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.html.twig' %}

    {% block javascripts %}
        {% do assets.add('https://code.jquery.com/jquery-2.1.4.min.js') %}
        {% do assets.add('https://cdn.rawgit.com/jackmoore/colorbox/1.6.3/jquery.colorbox-min.js') %}
        {% do assets.add('theme://js/script.js') %}

        {{ assets.js() }}
    {% endblock %}
  </body>
</html>
