<div class="row">
  <div class="column small-12">
    <article>
      <header>
        <h2>{{ page.title }}</h2>
      </header>
      {{ page.content }}
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        {% for image in page.media.images %}
          <li>
            <a href="{{ image.url() }}" rel="{{ page.id }}" class="lightbox-link"{% if image.meta.title %} title="{{ image.meta.title }}"{% endif %}>{{ image.resize(200,200) }}</a>
            {#
              {{ image.lightbox().resize(200,200).html('') }}
            #}
          </li>
        {% endfor %}
      </ul>
    </article>
  </div>
</div>
